.nickname
{
    position: relative;
    width: 100vw;
    height: 100vh;
    text-align: center;
    color: var(--main-alt);
    font-size: 512px;
    /* font-family: 'JejuGothic', sans-serif; */
    letter-spacing: -65px;
    font-family: "Scada", serif;
    font-weight: 400;
    font-style: normal;
    line-height: 100vh;
}

.avatar
{
    width: 250px;
    height: 250px;
    position: absolute;
    top: calc(50% - 125px);
    left: calc(50% - 125px);
    background-color: var(--medium);
    border-radius: 25px;
}