*, *::before, *::after
{
    margin: 0;
}

:root
{
    --main: #fff;
    --medium-alt: #787878; 
    --medium: #787878; 
    --main-alt: #272727; 
}

body
{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.colorMain
{
    background-color: var(--main);
    transition: background-color 0.5s;
}
